canvas {
  z-index: -1;
  display: block;
  margin: 0 auto;
  background: white;
  border: 1px solid black;
}

.animated-sketch {
  position: relative;
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #007bff;
  border-radius: 12px;
  color: white;
  font-size: 16px;
  padding: 0.5rem 1rem;
}
