<app-header [title]="title"></app-header>

<ion-content class="ion-padding ctn-ion" >
  <h1>{{ title }}</h1>
  <p>{{ description }}</p>

  <h2>Projetos 03:</h2>
  <ul>
    <li *ngFor="let project of projects">
      <strong>{{ project.name }}</strong>: {{ project.description }}
    </li>
  </ul>
  <div class="button-container">
    <ion-button (click)="updateTitle()" class="btn-ion">Atualizar Título</ion-button>
    <ion-button (click)="goToAbout()" class="btn-ion">Ir para About</ion-button>
    <ion-button (click)="goToAnimatedSketch()" class="btn-ion">Ir para Animated Sketch</ion-button>
  </div>

</ion-content>
<app-footer></app-footer>
