<ion-header>
  <ion-toolbar>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" >
  <h1>{{ title }}</h1>
  <p>{{ description }}</p>

  <h2>Projetos:</h2>
  <ul>
    <li *ngFor="let project of projects">
      <strong>{{ project.name }}</strong>: {{ project.description }}
    </li>
  </ul>
  <div class="button-container">
    <ion-button (click)="updateTitle()">Atualizar Título</ion-button>
    <ion-button (click)="goToAbout()">Ir para About</ion-button>
  </div>
</ion-content>
