
@import "@ionic/angular/css/core.css";

@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import '@ionic/angular/css/palettes/dark.system.css';
app-header{
  background-color: #313030;
}

app-footer{
  background-color: #313030;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.ion-page {
  height: 100%;
  position: relative !important;
  top: unset;
  left: unset;
  right: unset;
  bottom: unset;
}

.ctn-ion {
  height: 100%;
  width: 100%;
  background: #313030;

}

.btn-ion {
  margin: 0.2rem;
  background-color: transparent;
  background: #f4f4f4;
  border-radius: 8px;
  color: #3880ff;
  padding: 0.5rem 1rem;
  box-shadow: none;
}

.btn-ion-back {
  background-color: #007bff;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  padding: 0.5rem 1rem;
}
ion-icon {
  font-size: 24px;
}

@media (min-width: 200), (max-width: 539px) {

  .button-container {
    flex-direction: column;
  }
  .ctn-ion {
    height: 100vh;

  }

}

@media (min-width: 540), (max-width: 720px) {

  .ctn-ion {
    height: 100vh;

  }
}

@media (min-width: 820), (max-width: 1180px) {

  .ctn-ion {
    height: 100vh;

  }
}

@media (min-width: 1024), (max-width: 1366px) {
  .ctn-ion {
    height: 100vh;

  }
}


