
@import "@ionic/angular/css/core.css";

@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import '@ionic/angular/css/palettes/dark.system.css';

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

ion-content {
  --background: #313030;
}

ion-button {
  --background: #f4f4f4;
  --border-radius: 12px;
  --color: #3880ff;
  --padding: 8px 16px;
}

@media (min-width: 200), (max-width: 1280px) {
  .ion-page {
    position: relative !important;
    top: unset;
    left: unset;
    right: unset;
    bottom: unset;
  }
  ion-button {
    background: #f4f4f4;
    border-radius: 12px;
    color: #3880ff;
    padding: 8px 16px;
  }
  ion-content {
    background: #313030;
  }
  ion-header {
    background: #313030;
  }
}

